/* ================= GENERAL STYLING ================= */
/* * {
  outline: 1px solid red;
} */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  position: relative;
  margin-top: 10vh;
}
footer {
  position: relative;
}
#contactIcons .nav-link {
  background-image: linear-gradient(to right, cyan 50%, white 50%) !important;
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
#contactIcons .nav-link::before{
  content: "";
  background: #ffad00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
#contactIcons .nav-link:hover{
  background-position: 0;
}
#contactIcons .nav-link:hover::before{
  width: 100%;
}
h1,
h2,
h5 {
  font-family: "Gugi", sans-serif;
}

/* ================= SECTIONS ================= */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 10vh;
}
#intro {
  height: 90vh;
}
#intro::after {
  position: fixed;
  will-change: transform, opacity;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7),
    transparent
  );
  content: "";
  display: block;
  bottom: -33px;
  left: -11px;
  right: 0;
  height: 100%;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, #5f9ea0 3px, transparent 3px),
    linear-gradient(to bottom, purple 1px, transparent 3px);
  /* background-image: linear-gradient(to right, #6dc2bb 3px, transparent 3px),
    linear-gradient(to bottom, #AD1F9A 1px, transparent 3px); */
  background-position: center;
  animation: moveGrid 3s linear forwards;
}
#projects {
  position: relative;
}
#aboutMe {
  position: relative;
}
#contact {
  background-color: #393d47;
  color: white;
  border-top: 3px solid #ffad00;
}

/* ================= NAVIGATION STYLING ================= */
nav {
  height: 10vh;
  position: fixed;
  border-bottom: 3px solid cyan;
  box-shadow: inset -2px 2px 0px 2px mediumpurple;
}
nav::after {
  content: "";
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(
    to right,
    cyan calc(100% - 4px),
    mediumpurple calc(100% - 4px)
  );
}
.navbar-collapse {
  top: 10vh;
  box-shadow: inset -3px -3px 1px 1px lightgrey;
}
.nav-link {
  background-image: linear-gradient(to right, black 50%, #000000a6 50%);
  background-size: 200% 100%;
  background-position: -100%;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.nav-link::before{
  content: "";
  background: #ffad00;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-link:hover{
  background-position: 0;
}
.nav-link:hover::before{
  width: 100%;
}
#homeIconLink {
  width: 3rem;
}
#homeIconLink.nav-link,
#homeIconLink.nav-link::before {
  background-image: none !important;
  background-size: unset !important;
  background-position: unset !important;
  -webkit-text-fill-color: unset !important;
  transition: none !important;
}

#homeIconLink.nav-link:hover::before {
  width: 0 !important;
}
#homeIconImage {
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #53565a;
}

/* ================= BUTTON STYLING ================= */
.btn {
  border: none;
}
.btn-primary {
  background-color: #6dc2bb;
  --bs-btn-hover-bg: #5ab5a7;
  --bs-btn-active-bg: #4a9a91;
}
#scrollLink {
  position: absolute;
  top: 70vh;
}
#scrollArrow {
  width: 4rem;
  height: 4rem;
  border: 5px solid #393d47;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  transform: rotate(45deg);
  opacity: 0;
  animation: fadeInOut 2s 3s ease-in-out infinite;
}
#backtoTop {
  color: white;
}

/* ================= ICONS ================= */
[class^="devicon-"] {
  font-size: 1rem;
}
.card .bi-github {
  font-size: 1.5rem;
}
.card .nav-link,
.card .nav-link::before {
  background-image: none !important;
  background-size: unset !important;
  background-position: unset !important;
  -webkit-text-fill-color: unset !important;
  transition: none !important;
}
.card .nav-link:hover::before {
  width: 0 !important;
}
a:has(.bi-caret-up){
  transition: transform 0.3s ease-in-out; 
}
a:has(.bi-caret-up):hover{
  transform: scale(2);
}



/* ================= ANIMATIONS ================= */
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveGrid {
  from {
    transform: none;
  }
  to {
    transform: perspective(200px) rotateX(50deg) scale(2, 1);
  }
}



/* ================= SPECIFIC STYLING ================= */
#intro * {
  z-index: 3;
}
.card {
  width: 90%;
}
.card-text {
  background-color: green;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 24px);
  height: 2.5rem;
}
.card-text:hover {
  white-space: normal;
  text-overflow: unset;
  overflow: auto;
  height: 5rem;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.2);
}
#project3 [class^="devicon-"],
#project4 [class^="devicon-"] {
  margin-right: 0rem;
}
.card  a.btn.btn-primary.rounded-0 {
  margin-right: 1rem;
  padding: 0;
}

/* ================= MEDIA QUERIES ================= */
/* Mobile S: */
@media (min-width: 320px) {
}
/* Mobile M: */
@media (min-width: 375px) {
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    margin-right: 0.5rem;
  }
  .card  a.btn.btn-primary.rounded-0 {
    margin-right: 0;
    padding: 0.75rem 0.375rem;
  }
}
/* Mobile L: */
@media (min-width: 425px) {
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    margin-right: 1rem;
  }
}
/* Bootstrap sm: */
@media (min-width: 576px) {
  #project3 .my-3,
  #project4 .my-3 {
    margin-bottom: 1rem !important;
  }
  [class^="devicon-"] {
    font-size: 2rem;
  }
  .card-text {
    width: calc(100% - 56px);
  }
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    margin-right: 0.5rem;
  }
}
/* Bootstrap md: */
@media (min-width: 768px) {
  .card {
    width: 45%;
  }
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    font-size: 1.3rem;
  }
  #project3 .my-3,
  #project4 .my-3 {
    margin-bottom: 1.4rem !important;
  }
}
/* Bootstrap lg: */
@media (min-width: 992px) {
  nav {
    border-bottom: none;
    box-shadow: none;
  }
  .navbar-collapse {
    height: 10vh;
    top: 0;
    box-shadow: inset -2px 2px 0px 2px cyan;
    border-bottom: 3px solid mediumpurple;
  }
  .navbar-collapse::after {
    content: "";
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(
      to right,
      mediumpurple calc(100% - 4px),
      cyan calc(100% - 4px)
    );
  }
  .card {
    width: 30%;
  }
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    font-size: 1.1rem;
  }
  #project3 .my-3,
  #project4 .my-3 {
    margin-bottom: 1.7rem !important;
  }
  #aboutMe p {
    font-size: 1.3rem;
  }
}
/* Bootstrap xl: */
@media (min-width: 1200px) {
  .card {
    width: 22.5%;
  }
  #project2 [class^="devicon-"] {
    font-size: 1.9rem;
  }
  #project2 .my-3 {
    margin-bottom: 1.1rem !important;
  }
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    font-size: 1.1rem;
    margin-right: 0.3rem;
  }
  #project3 .my-3,
  #project4 .my-3 {
    margin-bottom: 1.8rem !important;
  }
  #aboutMe p {
    max-width: 70%;
  }
}
/* Bootstrap xxl: */
@media (min-width: 1400px) {
  #project3 [class^="devicon-"],
  #project4 [class^="devicon-"] {
    font-size: 1.5rem;
  }
  #project3 .my-3,
  #project4 .my-3 {
    margin-bottom: 1.4rem !important;
  }
}

/* Tablet: */
/* Laptop: */
/* Laptop L:  */
/* 4K:  */
